



<div th:fragment="sidebar" class="sidebar bg-dark text-uppercase">
			<div class="container">
				<div class="d-flex justify-content-center mt-5 text-uppercase">
					<h1 class="tittle-sidebar text-light"> casa</h1>
				</div>
				<div class="d-flex justify-content-center ">
					<h1 class=" palavra-do-meio text-light">dos</h1>
				</div>
				<div class="d-flex justify-content-center ">
					<h1 class="tittle-sidebar text-light">livros</h1>
				</div>
				<div class="p-4">
						<ul class="nav list-group list-group-flush text-uppercase mt-4 ">
						
							<a th:href="@{/home}" th:classappend="${url} == 'home' ? 'active2'" class="sidebar-actions mb-4 ">
							<i class="fas fa-house-user"></i>
							 	<span>Início</span>
							</a>
							
							<a th:href="@{/genero/homeGeneros}" th:classappend="${url} == 'generos' ? 'active2'"  class="sidebar-actions mb-4 ">
								<i class="fas fa-book"></i>
								<span>Gêneros</span>
							</a>
							
							<a th:href="@{/comentario/homeComentarios}" th:classappend="${url} == 'comentarios' ? 'active2'"  class="sidebar-actions mb-4 " >
							<i class="fas fa-question-circle"></i>
							 	<span>Sugestões</span>
							</a>
							
							<a th:href="@{/usuario/homeUsuarios}" th:classappend="${url} == 'usuarios' ? 'active2'"  class="sidebar-actions mb-4 " sec:authorize="hasAuthority('ADM')" >
								 <i class="fas fa-address-card"></i>
							 	<span>Usuários</span>
							</a>
					</ul>
				</div>
			</div>
		</div>
		
		<div th:fragment="topbar">
		<div sec:authorize="isAuthenticated()" class="collapse" style="transition: all 1s;"
			id="navbarToggleExternalContent">
			<div class="bg-dark p-4">
				<h5 class="text-white">Welcome,</h5>
				<h6 sec:authentication="name" class="text-danger"></h6>
			</div>
		</div>

		<nav class="navbar navbar-dark bg-dark p-3">
			<div class="container-fluid ">
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarToggleExternalContent"
					aria-controls="navbarToggleExternalContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<form th:action="@{/logout}" method="post">
					<input  type="submit" value="Sair" class="btn btn-danger"/>
				</form>
				
			</div>
		</nav>
	</div>
		

<nav th:fragment="titulo(valor)" class="bg-whitemb-3 p-3" style="color: black">

			<div class="text-center text-uppercase">
				<h2 class="titulo " th:text="${valor}"></h2>
			</div>
</nav>



